@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$primary-color: #2b6777;
$decals-color: #52ab98;

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button{
  background-color: $decals-color;
  color: #fff;
  border: 0.1rem solid;
  border-color: $primary-color;
  font-size: 1rem;
  font-weight: 500;
}

button:hover{
  filter: brightness(0.85);
}


#cartTable{
  img{
    width:50px;
  }
  td{
    padding:20px;
  }
}

.payment{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin:0 auto;
  form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}
.summary{
  width:300px;
  margin: 0 auto;
}
